@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url("https://images.unsplash.com/photo-1532699747151-80f124a15661?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=751&q=80");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
#carta {
  width: 300px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 30px;
  margin: 5% auto;
}
#simboloArriba {
  display: inline-block;
  position: relative;
  left: 10px;
  color: red;
  font-size: 100px;
  width: 60px;
  height: 80px;
}
#numero {
  color: white;
  font-size: 120px;
  width: 120px;
  margin: 50px auto;
  text-align: center;
}
#simboloAbajo {
  float: right;
  position: relative;
  right: 10px;
  bottom: -15px;
  color: red;
  font-size: 100px;
  width: 60px;
  height: 100px;
  transform: rotate(-180deg);
}
#boton-nueva {
  margin: auto;
  width: 300px;
  text-align: center;
}
.boton {
  width: 140px;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
}
